.navbar {
  background-color: #edf0e4;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 3rem;
}

.Hero {
  background-color: #dac0a3;
  padding-top: 100px;
}

.About {
  background-color: #f8f2f2;
  padding-top: 5rem;
}

.Contact {
  background-color: #dac0a3;
  padding-top: 3rem;
}

.Footer {
  background-color: #e9b384;
}

.App {
  text-align: center;
}
